html, body {
  font-family: sans-serif;
    color: #222;
    height: 768px;    
}

#rocket{
    width: 30px;
    height: auto;
    position: absolute;
    top: 400px;
    left: 300px;
}

#launchrocket{
    border: 1px solid #000;
    cursor: pointer;
    padding: 0.7em;
    border-radius: 5px;
}
